PORT=4000
FRONTEND_URL=http://localhost:5173
MONGO_URI=your-mongodb-uri
SMTP_HOST=smtp.gmail.com
SMTP_SERVICE=gmail
SMTP_PORT=465
SMTP_MAIL=your-email@example.com
SMTP_PASSWORD=your-app-password
JWT_SECRET_KEY=your-jwt-secret
FIRST_ADMIN_SETUP_KEY=your-first-admin-setup-key
JWT_EXPIRE=3d
COOKIE_EXPIRE=3
CLOUDINARY_CLIENT_NAME=your-cloudinary-name
CLOUDINARY_CLIENT_API=your-cloudinary-api-key
CLOUDINARY_CLIENT_SECRET=your-cloudinary-api-secret
